:root {
    --color1: #E63946;
    --color2: #F1FAEE;
    --color3: #A8DADC;
    --color4: #457B9D;
    --color5: #1D3557;

    
    
}
@media (prefers-color-scheme: dark) {
    --color1: #E63946;
    --color2: #1D3557;
    --color3: #457B9D;
    --color4: #A8DADC;
    --color5: #F1FAEE;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans';
    color: var(--color5);
    background-color: var(--color2);
}
h1 {
    color: var(--color5);
    padding-bottom: 8px;
    margin-bottom: 8px;
    border-bottom: solid 5px var(--color4);
}
h2 {
    color: var(--color5);
    padding-left: 16px;
    margin-left: 16px;
    padding-bottom: 4px;
    margin-bottom: 4px;
    border-bottom: solid 3px var(--color4);
}
h3 {
    color: var(--color5);
    padding-left: 32px;
    margin-left: 32px;
    padding-bottom: 4px;
    margin-bottom: 4px;
    border-bottom: solid 2px var(--color4);
}
h4 {
    color: var(--color5);
    padding-left: 64px;
    margin-left: 64px;
    padding-bottom: 4px;
    margin-bottom: 4px;
    border-bottom: solid 1px var(--color4);
}
h5 {
    color: var(--color5);
    padding-left: 128px;
    margin-left: 128px;
    padding-bottom: 4px;
    margin-bottom: 4px;
    border-bottom: solid 1px var(--color4);
}
h6 {
    color: var(--color5);
    padding-left: 256px;
    margin-left: 256px;
    padding-bottom: 4px;
    margin-bottom: 4px;
    border-bottom: solid 1px var(--color4);
}

label {
    display:inline-block;
    float: left;
    clear: left;
    width: 250px;
    text-align: right;
}
input {
    margin-left: 12px;
    display: inline-block;
    float: left;
}
textarea {
    margin-left: 12px;
    width:85%;
}
select {
    margin-left: 12px;
    display: inline-block;
    float: left;
}
button {
    display: inline-block;
    float: left;
}
blockquote{
    margin-left: 12px;
    background-color: var(--color1);
}
img {
    display: inline-block;
    margin-left: 12px;
    padding-left: 12px;
}
p {
    text-indent: 32px;
}
body {
    margin-bottom:128px;
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 64px;
    margin-top: 64px;
    background: var(--color3);
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.profilepic {
    display: block;
    margin-left: 0%;
    height: 100%;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    border-radius: 100%;
    top: 0;
    left: 0;
    padding: 0;
}
.profilepic-comment-container {
    width: 100px;
    height: 100px;
    margin: auto;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    background-color: var(--color3);
    display: inline-block;
    border-radius: 100%;
    border: 2px solid var(--color5);
    text-align: center;
    position: relative;
    overflow: hidden;
}
.profilepic-container {
    width: 256px;
    height: 256px;
    margin: auto;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    background-color: var(--color3);
    display: inline-block;
    border-radius: 100%;
    border: 2px solid var(--color5);
    text-align: center;
    position: relative;
    overflow: hidden;
}
.comment-header {
    color: var(--color5);
    border-bottom: solid 1px var(--color4);
}
.navbar-custom {
    background-color: var(--color1);
}
.nightmode-toggler {
    
    background-color: var(--color2);
   display: inline-block;
}
.nightmode-image {
    width: 25%;
    height: 25%;
}
.dark-mode {
    --color1: #E63946;
    --color2: #1D3557;
    --color3: #457B9D;
    --color4: #A8DADC;
    --color5: #F1FAEE;
}