<!DOCTYPE html>
<html>
<head>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jsSHA/2.0.2/sha.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}" />

</head>
<body>
    {% from 'html/cookiebanner.html' import cookiebanner with context %}
    {% from 'html/header.html' import header with context %}
    {% from 'html/navbar.html' import navbar with context %}
    {% from 'html/header.html' import header with context %}
    {{header(headline)}}
    {{navbar()}}
    {{cookiebanner()}}
    <h2>Create/Edit Link</h2>
    <p>Id: {{id}}</p>
    <form method="post">
        <div class="md-3">
            <label for="route">Route:</label>
            <input type="text" name="route" id="route" value="{{route}}" required />
        </div>
        <div class="md-3">
            <label for="name">Name:</label>
            <input type="text" name="name" id="name" value="{{name}}" required/>
        </div>
        <div class="md-3">
            <label for="priority">Priority:</label>
            <input type="number" name="priority" id="priority" value="{{priority}}" required />
        </div>
        <div class="md-3">
            <label for="is-section-head">Is Section Head?</label>
            <input type="checkbox" name="is-section-head" id="is-section-head" {% if is_section_head %} checked {% endif %} />
        </div>
        <div class="md-3">
            <label for="tag">Tag:</label>
            <input type="text" name="tag" id="tag" value="{{tag}}" required />
        </div>
        <input type="submit" value="Submit" />
    </form>
    <!--Custom HTML tags run at the bottom of the page so that we can mainupulate innerHTML-->
    <script src="{{url_for('static', filename='js/customhtml.js')}}"></script>
</body>
</html>