<!DOCTYPE html>
<html>
<head>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jsSHA/2.0.2/sha.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <script src='https://api.mapbox.com/mapbox-gl-js/v0.46.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v0.46.0/mapbox-gl.css' rel='stylesheet' />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans"
          rel="stylesheet" />
    <script src="https://api.tiles.mapbox.com/mapbox-gl-js/v2.9.2/mapbox-gl.js"></script>
    <link href="https://api.tiles.mapbox.com/mapbox-gl-js/v2.9.2/mapbox-gl.css"
          rel="stylesheet" />

    <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}" />

</head>
<body>
    {% from 'html/cookiebanner.html' import cookiebanner with context %}
    {% from 'html/header.html' import header with context %}
    {% from 'html/navbar.html' import navbar with context %}
    {% from 'html/header.html' import header with context %}
    {{header(headline)}}
    {{navbar()}}
    {{cookiebanner()}}
    <div id='map1' style='width: 95%; height:500px; background-color:pink;'></div><br /><br />

    <script type="text/javascript">
                //document.write("hello");
                mapboxgl.accessToken = "{{ mapbox_access_token }}";
                const geojson = {{ mapdata|tojson|safe}};
    const map = new mapboxgl.Map({
        container: 'map1', // container ID
        style: 'mapbox://styles/mapbox/satellite-streets-v10', // style URL
        center: [{{ latitude }}, {{longitude}}], // starting position [lng, lat]
                    zoom: 3 // starting zoom
                 });
                // adding home marker
                const el = document.createElement('div');
                el.className = 'marker';
                // adding markers
                for (const feature of geojson.features) {
                    const marker = new mapboxgl.Marker().setLngLat(feature.geometry.coordinates).setPopup(new mapboxgl.Popup().setHTML(`<h3>${feature.properties.title}</h3><p>${feature.properties.description}</p>`)).addTo(map);
                }
    </script>

    <!--Custom HTML tags run at the bottom of the page so that we can mainupulate innerHTML-->
    <script src="{{url_for('static', filename='js/customhtml.js')}}"></script>
</body>
</html>