{% macro navbar() -%}

<nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
    <div class="container-fluid">
        <!--a class="navbar-brand" href="#">Navbar</!--a-->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavCustomDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!--
        <div class="collapse navbar-collapse" id="navbarNavCustomDropdown">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Navigation
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                        {%for route in get_routes() %}
                        <li><a class="dropdown-item" {{route[2]}} href="{{route[0]}}">{{route[1]}}</a></li>
                        {%endfor%}
                    </ul>
                </li>
            </ul>
        </div>
            -->
        {%for route in get_routes() %}
        <a class="dropdown-item" href="{{route.get("route")}}">{{route.get("name")}}</a>
        {%endfor%}  
    </div>
    <div class="searchbar">
        <input type="text" class="search" onkeydown="search(this)"/>
    </div>
    <div class="nightmode">

        <img class="nightmode-image" src="https://cdn-icons-png.flaticon.com/128/8338/8338708.png" onclick=" togglenightmode()" />

    </div>
</nav>


<script>
    function search(ele) {
        if (event.key === 'Enter') {
            window.location.href = "/search/" + ele.value;
        }
    }

    function togglenightmode() {
        var nightmodestatus = document.cookie.split("; ").find((row) => row.startsWith("nightmode="))?.split("=")[1]
        if ("false" == nightmodestatus) {
            document.cookie = "nightmode=true";
        }
        else {
            document.cookie = "nightmode=false";
        }
        location.reload();
    }
    function nightmodeenable() {
        const el = document.body
        el.classList.toggle('dark-mode')
    }
    {% if nightmode_check() %}
    nightmodeenable();
    {% endif %}
</script>
{% endmacro %}