<!DOCTYPE html>
<html>
<head>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jsSHA/2.0.2/sha.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}" />

</head>
<body>
    {% from 'html/cookiebanner.html' import cookiebanner with context %}
    {% from 'html/header.html' import header with context %}
    {% from 'html/navbar.html' import navbar with context %}
    {% from 'html/header.html' import header with context %}
    {{header(headline)}}
    {{navbar()}}
    {{cookiebanner()}}
    <img src="{{unauditedimage.get('path').replace("FlaskWiki/Website/", "")}}" />
    <br />
    {% for attribute in unauditedimage %}
    <p>
       <b>{{attribute}}:</b>
        {{unauditedimage.get(attribute)}}
        <br />
    </p>
    {% endfor %}
    <form method="post">
        <div class="md-3">
            <fieldset>
                <legend>Select an action for this image:</legend>
                <div>
                    <input type="radio" id="release" name="action" value="release" checked />
                    <p for="release">release</p>
                </div>
                <div>
                    <input type="radio" id="delete" name="action" value="delete" />
                    <p for="delete">delete</p>
                </div>
                <div>
                    <input type="radio" id="quarantine" name="action" value="quarantine" />
                    <p for="quarantine">quarantine</p>
                </div>

            </fieldset>
            <label for="radioselect"
        </div>
        <button type="submit">Update!</button>
    </form>
    <!--Custom HTML tags run at the bottom of the page so that we can mainupulate innerHTML-->
    <script src="{{url_for('static', filename='js/customhtml.js')}}"></script>
</body>
</html>